doctype
html
  head
    title Home Automation Interface
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel='stylesheet', href="/css/interface.css")
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/js/interface.js")
  body
    .container
      h1 Hue Control
      .row.voffset
        .col-md-4
          div Hue Lamp #1
        .col-md-4
          button.btn.btn-block.btn-lg.btn-primary#on On
        .col-md-4
          button.btn.btn-block.btn-lg.btn-danger#off Off
